
body{
  text-align: center;
  margin: 0px;
  font-family: 'Playfair Display', serif;
  color: #434e52;
  font-size: 20px;
}
div{
  overflow-x: hidden;
}
p{
    word-spacing: 2px;
}
#title{
  background-color: #e0ebe8;
}
.container-fluid{
  padding: 3% 15% 0% 15%;
}
.skill-container{
  padding: 0% 7% 0% 7%;
}
.navbar{
 font-family: 'Montserrat', sans-serif;
  background-color: #e0ebe8;
}
.navbar-brand{
    color: #18b0b0!important;
  }
.nav-item{
  padding: 0 16px;
  display: inline-block;
}

.navbar-nav{
  display: inline-block;
}

.div1{
  background-color:#e0ebe8;
  position:relative;
}
.div2{

}
.div3{
  background-color: #18b0b0;
  padding: 100px 0px 10px;

}
img{
  width:50;
  height: 50;
}
.profile-img{
  width: 25%;
  margin-bottom: 20px;
}
.profile{
    margin: 50px auto 50px auto;
}
.cricket-img{
  width: 100%;
  float:left;
  padding-right: 40px;
}
.coding-img{
  width: 115%;
  float:right;
  padding-left: 40px;
}

h1{
  margin: 60px auto 0px auto;
  font-size: 7.5rem;
  font-family: 'Sacramento', cursive;
  color: #18b0b0;
  font-weight: normal;

}
h2{
  color:#00a8cc;
 font-size: 1.8rem;
  line-height: 30px;
  font-weight:normal;
  font-family: 'Ubuntu', sans-serif;

}
.div1 h2{
  font-size: 20px;
  color: #11999E;
}

h3{
  color: #18b0b0;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
}

.brand-img{
  height: 70px;
  width: 70px;
}
.topcloud{
  position:absolute;
  top: 38%;
  right: 10%;
  width: 13.5%;
}

.bottomcloud{
  position:absolute;
  top: 51%;
  left: 10%;
  width: 13.5%
}
.mountain{
  margin-top: 800;
  padding-top: 30px;
  width: 52%;

}
.intro{
  width: 30%;
  margin: 0 auto;
}
.skill-row{
  width:100%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2rem;
  padding: 30px;
  background-color: #ecfbfc;
}
hr{
  width: 5%;
  border-style: dotted;
  border-top:0px;
  color: #d2c6b2;
  border-width: 8px;
  margin:100px auto;
  opacity: 0.3;
}
.button{
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  position: relative;
  bottom: 150px;
  padding: 10px;
}

.intouch{
  width: 60%;
  margin: 20px auto;
  padding-bottom: 200px;
}
a{
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
}

 a:hover{
  color: #ecfbfc;
}

.footer-font {
  position: relative;
  color: white;
  margin: 0px 15px 0px;
}
.copyright{
  color: #ecfbfc;
  font-size: 0.75rem;
  margin-top:20px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 450px) {
  .container-fluid{
    padding: 3% 0% 0% 0%;
  }
  .nav-item{
    padding: 0 4px;
    display: inline-block;
  }
  .navbar{
   padding: 0.5rem;
  }
  h1{
    font-size: 4.5rem;
  }
  .mountain{
    width: 100%;
  }
  .topcloud{
    right: -10%;
    width: 28.5%
  }
  .bottomcloud{
    left: -10%;
    width: 28.5%
  }
  .brand-img{
    margin-left: 5px;
  }
  .profile-img{
    width: 60%;
    margin-bottom: 40px;
  }
  .intro{
    width: 80%;
  }
  hr{
    margin:70px auto;
  }
  .intouch{
    width: 80%;
    margin: 20px auto;
    padding-bottom: 200px;
  }
  .div3{
    padding: 30px 0px 30px!important;
  }
  a{
    font-size: 1rem;
  }

  }
